/****************************************/
/* CSS FILE                             */
/*                                      */
/* author:                              */
/* sergio.lopez@uclm.es                 */
/****************************************/

@import url('http://fonts.googleapis.com/css?family=Cantarell');

/* Basic font */
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Cantarell', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	color: rgb(0, 0, 0);
	font-weight: 400;
	line-height: 1.6;
}

em {
	color: rgb(0, 0, 0);
}

/* header */
div#header {
	margin-bottom: 2.3rem;
}

div.logo {
	width: 3em;
	float: left;
	margin-top: 2.3em;
	margin-right: 1em;
}

h3.subtitle em {
	font-style: normal;
	font-size: 1.5rem;
	font-weight: 600;
}

h4.author {
	margin-top: 2rem;
}

h4.author em {
	font-style: normal;
	font-size: 1.1rem;
	color: rgb(85, 85, 85);
}

h4.date em {
	font-style: italic;
	color: rgb(85, 85, 85);
	font-size: 1rem;
}

/*headings*/
h1 {
	margin-top: 2rem;
  text-align: center;
}

h1:not(.title) {
	color: rgb(153, 153, 153);
	font-size: 1.7rem;
	letter-spacing: 0.02rem;
	text-transform: uppercase;
}

h2 {
	color: rgb(50, 166, 211);
	font-size: 1.5rem;
}

h3 {
	color: rgb(153, 153, 153);
	font-size: 1.4rem;
}

h4 {
	color: rgb(50, 166, 211);
	font-size: 1.3rem;
}

h5 {
	color: rgb(153, 153, 153);
	font-size: 1.2rem;
}

h6 {
	color: rgb(50, 166, 211);
	font-size: 1.1rem;
}

input[type="number"] {
  max-width: 80%;
}

p {
	text-align: justify;
}

.centered-table {
  display: flex;
  justify-content: left;
   width: 75%;
}

.tab {
  padding: 0 25px;
}

/* correcting legend */
.info.legend.leaflet-control i {
  float: left;
}

 
